<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/images/favicon.png" type="image/x-icon">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="HaulSmart PWA">
<link rel="apple-touch-icon" href="/images/icon.png">
  <title>HAULSMART BLOG</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
  <div class="wrapper">
    <header>
        <div style="position:relative;width:250px"><a href="/" class="navbar-item"><img src="/images/logo.png" style="width:250px"></a></div>
        <h1 style="margin-left:10px">Tech Blog</h1>
        <nav class="navbar">
            {{#if loggedIn}}
            <a href="/dashboard" class="navbar-item">My Posts</a>
            <a href="/dashboard/create/" class="navbar-item">New Post</a>
            <button id="logout" class="button">Logout</button>
            {{else}}
            <a href="/login"><button id="login" class="button">Login</button></a>
            {{/if}}
        </nav>
    </header>

    <main>
            {{{ body }}}
    </main>

    <footer class="footer rows">
        <div>
            <p>
            <a href="/">Home</a>{{#if loggedIn}} | 
            <a href="/dashboard/">My Posts</a> | 
            <a href="/dashboard/create/">New Post</a>
            {{else}}
             | <a href="/login/">login</a>
            {{/if}}
            </p>
        </div>
    </footer>
  </div>

{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>