    <div style="position:relative;height:40px">
         
        <label class="heading" style="margin-bottom:15px">My Posts</label>
        <a href="/dashboard/create/" style="position:absolute;top:-15px;right:10px"><button id="create-post" class="button">New post</button></a>
      
        <hr>
{{#if posts.length}}
    </div>

    {{#each posts as |post|}}
        {{> post-info post}}
        
            <a href="/dashboard/edit/{{post.id}}"><button class="button">edit post</button></a>
        </div>
    {{/each}}

{{else}}
<h6>you do not currently have any posts</h6>

{{/if}}